@import '../styles/base';
.primaryBtn {
  padding: 12px 50px;
  display: block;
  margin: 30px auto 10px auto;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  font-size: 18px;
  font-weight: bold;
  background-color: #33b5e5;
  color: #ecf0f1;
  @media screen and (max-width: $phones) {
    font-size: 16px;
    padding: 12px 36px;
  }
}

.primaryBtn:hover {
  background-color: #33a5f5
}

.disabledBtn {
  background-color: #eff3f580;
  color: #a3a7b9;
}

.disabledBtn:hover {
  background-color: #eff3f540;
}