@import '../styles/base';
.container {
  height: 100px;
  background: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  @media screen and (max-width: $phones) {
    height: 70px;
    font-size: 14px;
  }
}