@import '../styles/base';
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photos {
  flex:1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  zoom: 0.1;

}

.photoGroup {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 48px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 0;
  @media screen and (max-width: $phones) {
    font-size: 24px;
    padding: 0 20px;
  }
}

.content {
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  @media screen and (max-width: $phones) {
    font-size: 18px;
  }
}