.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialogTitle {
  font-size: 24px;
  margin-bottom: 40px;
  letter-spacing: 0.4px;
  color: #333;
  font-weight: 500;
}

.serverErrorMessage {
  color: #FF424F;
  padding: 12px 24px;
  text-align: center;
  line-height: 1.4;
}