.container {
  width: 5480px;
  height: 3780px;
  background-color: white;
  display: flex;
  flex-direction: row;

  img {
    position: absolute;
  }
}

.backPage {
  width: 5480px - 2834px;
  height: 100%;
  position: relative;
}

.frontPage {
  width: 2834px;
  height: 100%;
  background-color: #27B4DF;
  position: relative;
}