@import '../styles/base';
.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 88px;
  display: flex;
  align-items: center;
  box-shadow: 0 6px 4px #777;
  padding-left: 10%;
  font-size: 24px;
  @media screen and (max-width: $phones) {
    height: 60px;
    font-size: 20px;
  }
}