.container {
  width: calc(2480px);
  height: calc(3354px);
  background-color: white;
  margin-bottom: 20px;
  position: relative;
}

.oneHorizontalImgWithText {
  width: calc(1934px);
  top: calc(1044px);
  left: calc(274px);
  position: absolute;
}


.oneVerticalImgWithText {
  width: calc(1281px);
  top: 505px;
  left: 271px;
  width: 1933px;
  height: 2268px;
  position: absolute;
  object-fit: contain;
}