.container {
  width: 2396px;
  height: 3354px;
  background-color: white;
  position: relative;
}

.oneHorizontalImgWithText {
  width: 1934px;
  top: 1044px;
  left: 274px;
  position: absolute;
}


.oneVerticalImgWithText {
  width: 1281px;
  top: 505px;
  left: 271px;
  width: 1933px;
  height: 2268px;
  position: absolute;
  object-fit: contain;
}

