
.TwoVerticalsWithText {
  position: absolute;
  top: 505px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  .photoText {
    font-size: 49px;
    line-height: 1.68;
    padding: 0 222px;
    display: flex;

  }
  .photosWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-top: 204px;
  }
  .left {
    max-width: 1000px;
    object-fit: contain;
    height: 1673px;
    object-position: top;
  }
  
  .right {
    max-width: 1000px;
    margin-left: 65px;
    object-fit: contain;
    height: 1673px;
    object-position: top;
  }
}

.TwoHorizontalsWithText {
  position: absolute;
  top: 505px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  .photoText {
    font-size: 49px;
    line-height: 1.68;
    display: flex;
    flex-direction: column;

  }
  .photosWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
  }
  .left {
    max-height: 1250px;
    object-fit: contain;
    object-position: right;
    width: 1267px;
  }
  
  .right {
    margin-top: 69px;
    max-height: 1250px;
    object-fit: contain;
    object-position: right;
    width: 1267px;
  }
}

.renderTwoHorizontals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  .image {
    max-height: 1081px;
    width: 1931px; 
    object-fit: contain;
    object-position: right;
  }
}
.twoVerticalImgsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  .image {
    max-width: 933px;
    height: 1667px;
    object-fit: contain
  }
}
